@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{  margin: 0;
    padding: 0;
    vertical-align: top;
}
html, body{
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
    width: 100%;
}
input:focus{
    outline: none;
}
img{
    max-width: 100%;
    border: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
.wrap{
    width: 100%;
}

.header{
    width: 100%;
    height: 60px;
    transition: all 0.1s ease-in;
    border-bottom: 1px solid #eeeeee00;
    z-index: 1000;
    
}
.scrolled .header{
    position: fixed;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #eeeeeeff;

}
.scrolled .wrap{
    padding-top: 60px;
}
.inner{
    width: 1050px;
    margin: 0 auto;
    height: 100%;
}
.header .inner{
    overflow: hidden;

}
.header .inner .logo{
    width: 75px;
    margin-top: 15px;
    float: left;
}
ul.nav{
    overflow: hidden;
    float: left;
    height: 60px;
    margin-left: 300px;
}
ul.nav li{
    float: left;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
   
}
ul.nav li a{
    height: 60px;
    padding: 8px 10px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 8px;
}
ul.nav li a:hover{
    background:#f2f3f5;
}
ul.nav_r{
    overflow: hidden;
    float: left;
    height: 60px;
    margin-left: 30px;
}
ul.nav_r li{
    float: left;
    padding: 0 10px;
    height: 60px;
    position: relative;
    line-height: 60px;
}
ul.nav_r li a{
    height: 60px;
    border-radius: 8px;
    color: #ccc;
    padding: 8px 10px;
    font-size: 14px;
}
ul.nav_r li a:hover{
    background:#f2f3f5;
}
ul.nav_r li:first-child:after{
    content: 'ㅣ';
    position: absolute;
    right: -7px;
    display: inline-block;
    width: 14px;
    line-height: 60px;
    color: #ccc;
}
ul.nav_r li a.on{
    color: #4b4b4b;
}
.section{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 165px;
}
.title_box p.title {
    font-size: 50px;
    color: #101010 ;
    font-weight: 700;
    line-height: 1.3;
}
.title_box p.title span {
    font-size: 28px;
    font-weight: 700;
    color:#3182f6 ;
    line-height: 1.5;
    display: block;
    margin-bottom: 30px;
}

.section .inner{
    position: relative;
}

.section.home div{
    transition: all 0.5s ease-in-out;
 }
.home_img_01{
    width: 600px;
    position: absolute;
    top: 50px;
    right: -104px;
}
.home_img_02{
    width: 600px;
    position: absolute;
    top: 350px;
    left: -104px;
}
.home_img_01 img:last-child{
    position: absolute;
    top: 11%;
    left: 22%;
    width: 57%;
}
.home_img_01 img:first-child{
    position: relative;
    z-index: 100;
}
.home_img_02 img:last-child{
    position: absolute;
    top: 11%;
    left: 22%;
    width: 57%;
    z-index: 99;
}
.home_img_02 img:first-child{
    position: relative;
    z-index: 100;
}
.script_box{
    position: absolute;
    bottom: 110px;
    right: 0;

}
.script_box p{
    font-size: 23px;
    color: #333d4b;
    font-weight: 500;
    line-height: 1.7;
}
.home{
    height: 1300px;
}
.home > div > div{
    margin-top: 40px;
    opacity: 0;
}
.home > div > div.on{
    margin-top: 0;
    opacity: 1;
}
.script_box.on{
    bottom: 160px;
}
.invest{
    background: #f9fafb;
}
.invest .inv_img_box{
    width: 600px;
    height: 936px;
    margin: 0 auto;
    position: relative;
}
.inv_img_box > img:first-child{
    position: relative;
    z-index: 101;
}
.inv_img_box > img:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: auto;
    z-index: 99;
    transform: translate3d(-50%, -50%, 0);
}
.inv_imgs{
    position: absolute;
    bottom: 124px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 1342px;
    z-index: 100;
}
.inv_imgs_wrap{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.inv_imgs_wrap img{
    width: 178px;
    height: 178px;
    margin-left: 16px;
}
.inv_imgs_wrap img:first-child{
    margin-left: 0;
}
.inv_text_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: 558px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}
.inv_text_box p {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    max-width: 235px;
    
    
}